#nav-links {
    display: flex;
    /*gap=espaccement entre les textes*/
    gap: 65x;
    padding: 16PX 8PX 16PX 8PX;
    margin: 1PX;
    border-radius: 16PX 1PX 16PX 16PX;
}

.nav-link {

    color: #000000;
    text-decoration: none;

    font-family: Heebo;
    font-weight: 700;
    font-size: 20px;

    line-height: 100%;
    letter-spacing: 0px;
    text-align: right;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}