body {
    font-family: "Heebo", sans-serif;
    margin: 0;
    color: #21243D;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 15px auto 0 auto;
}

#nav-links {
    display: flex;
    /*gap=espaccement entre les textes*/
    gap: 65px;
    /* padding: 16PX 8PX 16PX 8PX;
    margin: 1PX;
    border-radius: 16PX 1PX 16PX 16PX;*/
}

.nav-link {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 75px auto;
}


h1 {
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 0;
}

#button-cv {
    background-color: #FF6464;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5PX 15PX;
}


#subtitle {
    font-weight: 400;
    font-size: 16px;
    margin: 30px 0;
}

#header-content {
    width: 630px;
}

#blog {
    background-color: #EDF7FA;
padding-bottom: 35px;
}

#blog-content {
    width: 1200px;
    margin: auto;
}

h2 {
    font-size: 22px;
    font-weight: 400;
    padding-top: 20px;
}

#articles {
    display: flex;
    justify-content: space-between;
}

.article-blog{
    background-color: #FFFFFF;
    border-radius: 4px;
    width: 543px;
    padding: 10px 20px;
    /*Aadptation du width avec le padding*/
    box-sizing: border-box;
}

.article-title{
    font-size: 26px;
}

.date-categorie{
    display: flex;
    font-size: 18px;
    gap: 25px;
}

.article-description {
    font-size: 16px;
}

#projet-content {
    width: 1200px;
    margin: auto;
}

.projet{
    display: flex;
    align-items: center;
    gap: 100px;
    border-radius: 4px;
 
    padding: 10px 20px;
    /*Aadptation du width avec le padding*/
    box-sizing: border-box;
}

.projet-title{
    color: #21243D;
    font-size: 30px;
}

.pdata-date{
    display: flex;
    background-color: #142850;
    color: white;
    border-radius: 16px;
    border-width: 62px;
    font-size: 18px;
    gap: 25px;
}


