body {
    font-family: "Heebo", sans-serif;
    margin: 0;
    color: #21243D;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 15px auto 0 auto;
    /*responsive*/
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

#nav-links {
    display: flex;
    /*gap=espaccement entre les textes*/
    gap: 65px;
    /* padding: 16PX 8PX 16PX 8PX;
    margin: 1PX;
    border-radius: 16PX 1PX 16PX 16PX;*/
}

.nav-link {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 75px auto;
    /*responsive*/
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}


h1 {
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 0;
}

#button-cv {
    background-color: #FF6464;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5PX 15PX;
}


#subtitle {
    font-weight: 400;
    font-size: 16px;
    margin: 30px 0;
}

#header-content {
    width: 630px;
}

#blog {
    background-color: #EDF7FA;
    padding-bottom: 35px;
}

#blog-content {
    max-width: 1200px;
    margin: auto;
    /*responsive*/
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

h2 {
    font-size: 22px;
    font-weight: 400;
    padding-top: 20px;
}

#articles {
    display: flex;
    justify-content: space-between;
}

.article-blog {
    background-color: #FFFFFF;
    border-radius: 4px;
    width: 543px;
    padding: 10px 20px;
    max-width: 48%;
    /*Aadptation du width avec le padding*/
    box-sizing: border-box;
}

.article-title {
    font-size: 26px;
}

.date-categorie {
    display: flex;
    font-size: 18px;
    gap: 25px;
}

.article-description {
    font-size: 16px;
}

#projet-content {
    max-width: 1200px;
    margin: auto;
    /*responsive*/
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

#projets {
    max-width: 1200px;
    margin: auto;
    /*responsive*/
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.projet {
    display: flex;
    gap: 50px;
    margin: 0 0 50px 0;
}

.projet-title {
    color: #21243D;
    font-weight: 700;
    font-size: 30px;
    margin: 0 0 15px 0;
}

.date-type {
    display: flex;
    align-items: center;
    gap: 25px;
}

.projet-date {
    background-color: #142850;
    border-radius: 16px;
    color: white;
    font-weight: 900;
    font-size: 18px;
    width: 62px;
    height: 25px;
    text-align: center;
}

.projet-type {
    color: #8695A4;
    font-size: 20px;
}

.projet-description {
    font-size: 16px;
}

#contact-content {
    display: flex;
    gap: 40px;
}

#contact {
    max-width: 1200px;
    margin: auto;
    /*responsive*/
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.contact-title {
    font-weight: 800;
    font-size: 36px;
}

#contact-intro {
    font-size: 20px;
}

#contact-email {
    font-size: 16px;
}

.socials-link {
    font-size: 16px;
    color: #000000;
}

form {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

#coordonnees {
    flex: 1;
}

label {
    font-size: 14px;
}

input,
select,
textarea {
    background-color: #F7F7F7;
    border: none;
    height: 46px;
}

textarea {
    height: 165px;
}

button {
    background-color: black;
    color: white;
    border: none;
    height: 56px;
}

/* Footer */
footer {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 20px;
}

#icons-socials {
    display: flex;
    justify-content: center;
    gap: 25px;
}

#copyright {
    font-size: 14px;
    color: #21243D;
}

#menu-button {
    display: none;
}

/*Responsive-Adaptation mobile*/
@media(max-width:700px) {
    #coordonnees {
        display: none;
    }

    .projet {
        flex-direction: column;
    }

    .projet-image {
        width: 100%;
    }

    #articles {
        flex-direction: column;
        gap: 20px;
    }

    .article-blog {
        max-width: none;
        width: 100%;
    }

    .date-categorie {
        gap: 5%;
    }

    header {
        flex-direction: column-reverse;
        text-align: center;
    }

    #header-content {
        width: 100%;
    }

    h2 {
        text-align: center;
    }

    .nav-link {
        display: none;
    }

    #menu-button {
        display: block;
    }
}